@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1em;
}

div.menu {
    width: calc(100vw - 40px);
    display: flex;
    padding: 10px 20px;
    margin-bottom: 50px;
}

div.menu--logo {
    display: flex;
    align-items: center;
    font-size: 12px;
}
div.menu img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

table {
  font-size: 16px;
}

div#table-container {
    border: 1px solid #e5e7eb;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 28px 8px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 9px 28px 8px rgba(0,0,0,0.05);
box-shadow: 0px 9px 28px 8px rgba(0,0,0,0.05);
margin: 20px 0;
max-width: calc(100vw - 20px);
overflow-x: auto;
}

div#summaries {
    width: max-content;
    border-bottom: 1px solid #e5e7eb;
}


div#summaries--header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 2fr 1fr 1fr 1fr;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e7eb;
  font-weight: 300;
  font-size: 13px;
  text-align: left;
}

div#summaries--row  {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 2fr 1fr 1fr 1fr;
  font-size: 14px;
  padding: 15px;
  background-color: white;
  text-align: left;
}

div#underlying--header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  padding: 10px 15px;
  font-weight: 300;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

div#underlying--row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  padding: 15px;
  background-color: white;
  text-align: left;
}

#table--total {
    background-color: white;
  font-size: 14px;
  padding: 10px 0;
}

button {
  background-color: #109020;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
    background-color: #6336ff;
    font-size: 14px;
    cursor: pointer;
}

button:disabled {
  display: none;
}

input[type="button"]:focus, button:focus {
    outline: none;
}

#address {
  text-decoration: underline;
  font-size: 1em;
}

input {
  font-size: 0.7em;
  text-align: center;
  width: 65px;
}

input[type="text"] {
    font-weight: 600;
    font-size: 1em;
    color: #6336ff;
    background: #FFFFFF;
    border: none;
    padding: 5px 0;
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.159064);
border-radius: 8px;
}

input[type="text"]::placeholder {
    opacity: 1;
}

a {
  color: black;
}

#footer {
  margin: 0px 0px 0px 0px;
    margin-top: 40px;
}

.assets {
    display: flex;
    justify-content: space-between;
}

.asset a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.asset img {
    height: 56px;
    width: 56px;
    margin-bottom: 4px;
}

#footer h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 40px;
}

img#logo {
    width: 100px;
    height: 100px;
}

span#address {
    font-family: monospace;
}

#donation-link {
min-width: 740px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
margin: 30px 10px 30px 10px;
background: #FAFBFE;
box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px #D3E0EC;
border-radius: 30px;
}

#donation-link img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

#wiki-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#wiki-link a {
    color: #6336FF;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#wiki-link img {
    width: 29px;
    height: 32px;
    margin-right: 5px;
}

@media only screen and (max-width : 768px) {
    div#summaries--header {
      grid-template-columns: 1.5fr 1fr 2fr 2fr 1fr 1fr 1fr;
    }
    div#summaries--row {
      grid-template-columns: 1.5fr 1fr 2fr 2fr 1fr 1fr 1fr;
    }

    #footer {
        width: 100vw;
    }
    #footer h3 {
        text-align: center;
    }
    .assets {
        flex-wrap: wrap;
    }
    .asset {
        width: 50%;
        margin-bottom: 50px;
    }

    #wiki-link {
        margin-top: 0px;
    }
    #donation-link {
        min-width: 0;
        max-width: 100vw !important;
        margin: 30px 10px 30px 10px;
        height: 70px;
    }

    #donation-link img {
        display: none;
    }
}

.provider-error-modal {
    display: none;
}

.provider-error-modal.visible {
    display: flex;
      position: fixed;
    width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: #07070767;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  align-items: center;
  justify-content: center;
}

img#pe-modal--close {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

img#no_eth_provider {
    width: 66px;
    height: 80px;
}

#provider-error-modal--inner {
    background-color: white;
    border-radius: 12px;
    width: 560px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#provider-error-modal--inner p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(31, 35, 41, 0.65);
    margin-bottom: 0;
}
