body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 0.8em;
}

table {
  border-collapse: collapse;
  font-size: 0.7em;
}

table, th, td {
  border: 3px solid #a0a0a0;
}

th {
  padding: 5px;
}

button {
  background-color: #a0a0a0;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

button:disabled {
  display: none;
}

#address {
  text-decoration: underline;
  font-size: 0.8em;
}

input {
  margin: 0px 0px 40px;
  font-size: 0.7em;
  text-align: center;
  width: 100px;
}

a {
  color: white;
}